*{
	box-sizing: border-box;
}

body{
	margin: 0;
	color: #ffffff;
}

#conteneur{
	background: grey;
	width: 1000px;
	margin: 0 auto;
}

header{
	background-color: #A4409A;
	height: 80px;
}

nav{
	background-color: yellow;
	height: 30px;
}

.a{
	background-color: #ff0000;
	width: 700px;
}

.b{
	background-color: #0000ff;
	width: 300px;
}

.a, .b{
	height:500px;
	float: left;
	color: grey;
	font-size: 3em;
	padding: 10px;
}

.clear{
	clear: both;
}

footer{
	background-color: #E80B28;
	height: 80px;
}