body, div, p{margin:0;}

#conteneur{
	border: 2px solid #336699;
	width: 80%;
	margin: 0 auto;
	height: 900px;
}

.orange{
	color: #ff9c00;
	position: absolute;
	right: 50%;
	bottom : 50%;
	/* top:; right:; left:; bottom:; */
}