nav a{
	text-decoration: none;
	color: #fff;
	background: #000;
	padding: 15px 30px;
	display: block;
	float: left;
	transition: .3s;
	font-family: sans-serif;
	font-size: 13px;
}

nav a:hover{
	background: #f43c80;
}

.active{
	background: #f43c80;
}